body {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    ". nav ."
    "main main main"
    ". footer ."
    ". . .";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}