* { margin:0px;padding:0px;font:1em arial,sans serif;}

h1 {
  font-size: 2em;
  font-weight: bold;
  width: fit-content;
  margin: 0.5em auto;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

section:not(#create){
  border: 1px solid black;
  padding: 10px 15px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

#milk input {
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

#orders li {
  border-bottom: 1px solid black;
}

#remove {
  text-align: right;
}

#remove input {
  width: 2em;
  margin-left: 0;
}

#btnCreateOrder, #btnPrintOrders, #btnRemoveOrder {
  padding: 5px 15px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}

#btnCreateOrder {
  background-color: green;
  width: 100%;
  height: 100%;
}

#btnPrintOrders {
  background-color: yellow;
  color: dimgray;
  float: left;
}

#btnRemoveOrder {
  background-color: red;
}